= link_to 'Show ', question_path(@question) if action_name == 'edit'

= link_to 'Edit ', edit_question_path(@question) if action_name == 'show'

= link_to 'Questions List ', edit_question_path(@question) if action_name == 'show'