h1 Question: #{ @question.body }

p Answers list:

ul
  - @question.answers.each do |answer|
    li #{ answer.body } - #{ answer.correct }

= link_to 'Edit ', edit_question_path(@question)

= link_to 'Questions List ', edit_question_path(@question)