form
  div class="card"
    div class="card-body"
      div class="form-group"
      = form_for @feedback do |f|
        = render 'shared/errors', resource: @feedback

        p 
          = f.label :name
          = f.text_field :name, class: "form-control"

        p
          = f.label :email
          = f.email_field :email, class: "form-control"

        p
          = f.label :message
          = f.text_field :message, class: "form-control"
        
        div class="mt-2"
          = f.button :submit, class: "btn btn-outline-primary"
