.nav {
  border: 2px solid;
  padding: 10px;
  border-radius: 5px;
  a:hover {
    color: black;
    text-decoration: underline;
    background-color: white;
  }

  .right {
    float: right;
  }

  .brand {
    text-align: left;
    font-size:  1.7em;
    font-weight: bold;
    text-transform: uppercase;
    color:  #525252;

    a {
      border: none;

      &:hover {
        color: black;
        text-decoration: underline;
        background-color: white;
      }
    }
  }
}